.table>thead>tr>th{
    color: #000000 !important;
}
.table>tbody>tr>td{
    color: #000000 !important;
}

/*thead, tbody { display: block; }*/

tbody {
    height: 50px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
}
.result{
    font-size: 30px;
    background-color: #f32d27 ;
    color: #ffffff ;
    text-align: center;
    padding: 15px;
    font-weight: 700;
}

.tableAlign{
    margin-top: 35px;
}

body{
    background-color: #2B2B2B;
}

*{
    font-family: 'Raleway', sans-serif;
    color : #FFF;

}


div h3 span{
    color : #FFF;
    font-size:14px;
}

div span {
    font-weight: 200;
}

h1{
    font-weight: 200;
}

.login_box{
    background: #f32d27; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==); */
    /* background: -moz-linear-gradient(45deg,  #f32d27 5%, #ff6b45 99%); FF3.6+ */
    /* background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#f32d27), color-stop(99%,#ff6b45)); Chrome,Safari4+ */
    /* background: -webkit-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); Chrome10+,Safari5.1+ */
    /* background: -o-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); Opera 11.10+ */
    /* background: -ms-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); IE10+ */
    /* background: linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45',GradientType=1 ); IE6-8 fallback on horizontal gradient */

    width:100%;
    /* height:70%; */
   margin-top: 35px;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

@media (max-width: 767px) {
    .login_box{
        background: #f32d27; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        /* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        /* background: -moz-linear-gradient(45deg,  #f32d27 5%, #ff6b45 99%); FF3.6+ */
        /* background: -webkit-gradient(linear, left bottom, right top, color-stop(5%,#f32d27), color-stop(99%,#ff6b45)); Chrome,Safari4+ */
        /* background: -webkit-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); Chrome10+,Safari5.1+ */
        /* background: -o-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); Opera 11.10+ */
        /* background: -ms-linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); IE10+ */
        /* background: linear-gradient(45deg,  #f32d27 5%,#ff6b45 99%); W3C */
        /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d27', endColorstr='#ff6b45',GradientType=1 ); IE6-8 fallback on horizontal gradient */ */

        /* width:90%;
        height:80%;
        position:absolute;
        top:10%;
        left:5%;

        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow:    0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow:         0px 0px 8px 0px rgba(50, 50, 50, 0.54); */
    }
}

.image-circle{
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #FFF;
    margin: 10px;
    background-color: #FFFFFF;
}

.follow{
    background-color:#FC563B;
    height: 80px;
    cursor:pointer;
}

.follow:hover {
    background-color:#F22F26;
    height: 80px;
    cursor:pointer;
}

.login_control{
    background-color:#FFF;
    padding:10px;

}

.control {
    color:#000;
    margin:10px;
}

.label {
    color: #EB4F26;
    font-size: 18px;
    font-weight: 500;
}

.form-control{
    color: #000000 !important;
    font-size: 25px;
    border: none;
    padding: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus{
    border-radius: 0px;
    border-bottom: 1px solid #FC563B;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-orange{
    background-color: #FC563B;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
}

.btn-orange:hover {
    background-color: #F22F26;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
    color:#FFF !important;
}

.line{
    border-bottom : 2px solid #F32D27;
}


.outter{
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.vote{
    text-align: center;
    text-decoration: underline;
}
.panelTex{
    color: #ffffff !important;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
}
.ico{
    font-size: 80px;
    text-align: center;
    color: #006400 ;
}
.icowo{
    font-size: 80px;
    text-align: center;
    color: #00008b ;
}
.icotr{
    font-size: 80px;
    text-align: center;
    color: #ff0000 ;
}
.men{
    background-color: #f32d27 !important;
}
.women{
    background-color: #f32d27 !important;
}
.transgender{
    background-color: #f32d27 !important;
}

.tableFont{
    color: #000000 !important;
}
.valid{
    font-size: 20px;
    color: #006400;
    text-align: left;
}
.invalid{
    font-size: 20px;
    color: #ff0000;
    text-align: left;
}
.validxl{
    font-size: 30px;
    color: #006400;
    text-align: left;
}
.invalidxl{
    font-size: 30px;
    color: #ff0000;
    text-align: left;
}
.notch{
    font-size: 12px !important;
}
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.login-title
{
    color:#ffffff;
}